{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>delete post</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background: #f4f4f4;
            margin: 0;
            padding: 0;
            color: #333;
        }
    </style>
</head>
<body>
  {% block content %}
  <div class="card container mt-4" >
    <h2 class="m-4">Are you sure you want to delete this event post?</h2>
    <div id="post-{{ event.id }}" class="card mb-3">
      {% if event.image %}
          <img class="card-img-top" src="{{ event.image.url }}" alt="Post Image">
      {% endif %}
      {% if event.attachment %}
          <a class="card btn-light m-4 p-4" href="{{ event.attachment.url }}">Download Attachment</a>
      {% endif %}
    <p class="mt-5">{{ event.post }}</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger btn-lg" type="submit">Delete</button>
        <a class="btn btn-dark btn-lg" href="{% url 'event' %}">Cancel</a>
    </form>
  </div>
  {% endblock %}
</body>
</html>