{% if user.is_authenticated %}
<div class="hero shadow">
    <h1 class="animate-on-scroll">
        {% if user.is_superuser %}
            Welcome Admin, {{ user.first_name|capfirst }} {{ user.middle_name|capfirst }} {{ user.last_name|capfirst }}
        {% elif user.teacher %}
            Welcome Teacher, {{ user.first_name|capfirst }} {{ user.middle_name|capfirst }} {{ user.last_name|capfirst }}
        {% elif user.student %}
            Welcome Student, {{ user.first_name|capfirst }} {{ user.middle_name|capfirst }} {{ user.last_name|capfirst }}
        {% endif %}
    </h1>
    <div class="container d-sm-none">
    {% if user.student %}
    <p class="animate-on-scroll">Your are now student of IIHCollege.</p>
    {% elif user.teacher %}
    <p class="animate-on-scroll">Future of learning starts here!</p>
    {% elif user.is_superuser %}
    <p class="animate-on-scroll">Head of all system</p>
    {% endif %}
    {% if user.teacher %}
    <a href="{% url 'dashboard' %}" class="m-2 btn btn-light btn-lg shadow animate-on-scroll">Dashboard</a>
    <a href="{% url 'event' %}" class="m-2 btn btn-light btn-lg shadow animate-on-scroll">Event</a>
    <a href="{% url 'community' %}" class="m-2 btn btn-light btn-lg shadow animate-on-scroll">Community</a>
    <a href="{% url 'contact' %}" class="m-2 btn btn-light btn-lg shadow animate-on-scroll">Contact</a>
    <a href="{% url 'subject' %}" class="m-2 btn btn-light btn-lg shadow animate-on-scroll">Subject</a>
    <a href="{% url 'lesson' %}" class="m-2 btn btn-light btn-lg shadow animate-on-scroll">Lesson</a>
    {% if student.id %}
    <a href="{% url 'grading' %}" class="m-2 btn btn-light btn-lg shadow animate-on-scroll">Grading</a>
    {% else %}
    <span class="nav-link disabled m-2 btn btn-light btn-lg shadow animate-on-scroll">Grading (not available)</span>
    {% endif %}
    {% elif user.is_superuser %}
    <a href="{% url 'teacher_register' %}" class="btn btn-light btn-lg shadow animate-on-scroll m-2">Register a teacher</a>
    <a href="{% url 'admin:index' %}" class="btn btn-light btn-lg shadow animate-on-scroll m-2">System</a>
    {% endif %}
</div>
{% else %}
<div class="hero shadow">
    <h1 class="animate-on-scroll">Welcome to the IIHCollege Portal</h1>
    <p class="animate-on-scroll">Your journey to learning starts here!</p>
    
    <a href="{% url 'enroll' %}" class="m-2 btn btn-light btn-lg shadow animate-on-scroll">Enroll Now!</a>
    <a href="{% url 'survey' %}" class="m-2 btn btn-light btn-lg shadow animate-on-scroll">Survey!</a>

</div>
{% endif %}
</div>
